# Requirements.txt for the conda environment for tensorflow
absl-py==0.4.1
astor==0.7.1
bleach==1.5.0
certifi==2018.8.24
contextlib2==0.5.5
cycler==0.10.0
Cython==0.28.5
gast==0.2.0
grpcio==1.12.1
html5lib==0.9999999
kiwisolver==1.0.1
lxml==4.2.5
Markdown==2.6.11
matplotlib==3.0.0
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.2
olefile==0.46
Pillow==5.2.0
protobuf==3.6.0
pyparsing==2.2.1
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
tornado==5.1.1
webencodings==0.5.1
Werkzeug==0.14.1
